<nav class="nav">
  <a href="/" class="nav-logo to-link">
    <img src="/src/assets/logo/logo.png" alt="Makanear Logo" />
    <span>MakaNear</span>
  </a>
  <div class="nav-main">
    <div class="search">
      <button>
        <span class="material-symbols-rounded"> travel_explore </span>
      </button>
      <input type="text" placeholder="Search in MakaNear" />
    </div>
    <div class="links">
      <a class="to-link" href="/">Beranda</a>
      <a class="to-link" href="/listing">Listing</a>
    </div>
  </div>
  <div class="nav-others">
    <span class="material-symbols-rounded"> local_mall </span>
    <a href="/dashboard">
      <span class="material-symbols-rounded"> storefront </span>
    </a>
    <a class="to-login" href="/login">
      <span class="material-symbols-rounded"> account_circle </span>
    </a>
    <span class="material-symbols-rounded logout"> move_item </span>
  </div>
</nav>
