@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&family=Grandstander:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.navbar .nav {
  width: 100%;
  height: auto;
  padding: 2.4vw 3.4vw;
  display: grid;
  grid-template-columns: 18vw 1fr 18vw;
}
.navbar .nav-logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 0.6vw;
  text-decoration: none;
}
.navbar .nav-logo img {
  width: 3vw;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.navbar .nav-logo span {
  font-family: "Poppins", sans-serif;
  font-size: 2.3vw;
  font-weight: 500;
  color: #595959;
  text-transform: uppercase;
}
.navbar .nav-main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1vw;
}
.navbar .nav-main .search {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border-radius: 10vw;
  border: 0.15vw solid #34a0a4;
  padding: 0.3vw;
}
.navbar .nav-main .search button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border-radius: 50%;
  background-color: #34a0a4;
  color: #fff;
  font-size: 1.1vw;
  transition: all 0.4s ease-out;
  border: none;
  outline: none;
  padding: 0.7vw;
  cursor: pointer;
}
.navbar .nav-main .search button:hover {
  background-color: #0b787c;
}
.navbar .nav-main .search input {
  width: 34vw;
  padding: 0 0.5vw;
  border-top-right-radius: 10vw;
  border-bottom-right-radius: 10vw;
  font-size: 1.1vw;
  color: #595959;
  transition: all 0.4s ease-out;
  border: none;
  outline: none;
  background-color: transparent;
}
.navbar .nav-main .links {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 1.05vw;
}
.navbar .nav-main .links a {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  color: #595959;
  text-decoration: none;
  line-height: 100%;
  transition: all 0.4s ease-out;
}
.navbar .nav-main .links a:hover {
  color: #0b787c;
}
.navbar .nav-main .links a.active {
  color: #fff;
  background-color: #34a0a4;
  padding: 0.4vw 0.9vw;
  border-radius: 10vw;
}
.navbar .nav-others {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
  gap: 0.25vw;
}
.navbar .nav-others a {
  text-decoration: none;
}
.navbar .nav-others .material-symbols-rounded {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 0, "opsz" 24;
  font-size: 2.5vw;
  color: #34a0a4;
  cursor: pointer;
}

@media (max-width: 575.98px) {
  .navbar .nav {
    padding: 3.8vw 4.4vw;
    display: grid;
    grid-template-columns: auto 1fr auto;
  }
  .navbar .nav-logo {
    gap: 0.8vw;
  }
  .navbar .nav-logo img {
    width: 8vw;
  }
  .navbar .nav-logo span {
    font-size: 3.3vw;
  }
  .navbar .nav-main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.4vw;
  }
  .navbar .nav-main .search button {
    font-size: 1.9vw;
    padding: 1.2vw;
  }
  .navbar .nav-main .search input {
    width: 40vw;
    padding: 0 0.7vw;
    font-size: 1.7vw;
  }
  .navbar .nav-main .links {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 1.05vw;
  }
  .navbar .nav-main .links a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    color: #595959;
    text-decoration: none;
    line-height: 100%;
    transition: all 0.4s ease-out;
    font-size: 1.8vw;
  }
  .navbar .nav-main .links a:hover {
    color: #0b787c;
  }
  .navbar .nav-main .links a.active {
    color: #fff;
    background-color: #34a0a4;
    padding: 0.8vw 1.6vw;
  }
  .navbar .nav-others {
    gap: 1.6vw;
  }
  .navbar .nav-others i {
    font-size: 2.9vw;
  }
}
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  color: #595959;
  border-top: 0.1vw solid rgba(0, 0, 0, 0.1);
  padding: 2.4vw 3.4vw;
}
.footer .social-media {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 1.6vw;
}
.footer .social-media a {
  text-decoration: none;
  color: #34a0a4;
}
.footer .social-media a i {
  font-size: 1.5vw;
}
.footer .social-media a:hover {
  color: #0b787c;
  transition: 0.5s;
}

@media (max-width: 575.98px) {
  .footer {
    padding: 3.8vw 4.4vw;
  }
  .footer p {
    font-size: 2.9vw;
  }
  .footer .social-media {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 2.1vw;
  }
  .footer .social-media a {
    text-decoration: none;
    color: #34a0a4;
  }
  .footer .social-media a i {
    font-size: 3vw;
  }
  .footer .social-media a:hover {
    color: #0b787c;
    transition: 0.5s;
  }
}
.listing {
  display: grid;
  grid-template-columns: 0.25fr 0.75fr;
  grid-template-areas: "map map" "location location" "filter overview";
}
.listing-map {
  width: 100%;
  height: 60vh;
  padding: 0 3.4vw 2.4vw;
  position: relative;
  grid-area: map;
}
.listing-map #listing-map {
  width: 100%;
  height: 100%;
}
.listing-map #listing-map .ol-viewport {
  width: 100%;
  height: 100%;
  border-radius: 2.4vw;
}
.listing-map #listing-map .ol-viewport .ol-zoom {
  top: 22px;
  left: 10px;
}
.listing-map #listing-map .ol-viewport .ol-attribution {
  padding-right: 8px;
}
.listing-location {
  grid-area: location;
  padding: 0 3.4vw 1.6vw;
}
.listing-location-title {
  font-size: 2.7vw;
  font-weight: 700;
  line-height: 100%;
  padding-bottom: 1.3vh;
}
.listing-location-desc {
  line-height: 100%;
  padding-bottom: 4.3vh;
  color: rgba(89, 89, 89, 0.6);
}
.listing-filter {
  padding: 0 1.7vw 2.4vw 3.4vw;
  position: relative;
  grid-area: filter;
}
.listing-filter .filter-content {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.2vw 1.6vw;
}
.listing-filter .filter-content-categories {
  display: grid;
  gap: 1.2vh;
}
.listing-filter .filter-content-categories .title {
  font-weight: 600;
  line-height: 100%;
}
.listing-filter .filter-content-categories .options {
  background-color: #eef1f3;
  border-radius: 0.9vw;
  padding: 1vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  cursor: pointer;
  gap: 0.6vw;
}
.listing-filter .filter-content-categories .options-list {
  width: 100%;
}
.listing-filter .filter-content-distance {
  display: grid;
  gap: 1.2vh;
}
.listing-filter .filter-content-distance .title {
  font-weight: 600;
  line-height: 100%;
}
.listing-filter .filter-content-distance .options {
  background-color: #eef1f3;
  border-radius: 0.9vw;
  padding: 1vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  cursor: pointer;
  gap: 0.6vw;
}
.listing-filter .filter-content-distance .options-list {
  width: 100%;
}
.listing-filter .filter-content-price {
  display: grid;
  gap: 1.2vh;
}
.listing-filter .filter-content-price .title {
  font-weight: 600;
  line-height: 100%;
}
.listing-filter .filter-content-price .options {
  background-color: #eef1f3;
  border-radius: 0.9vw;
  padding: 1vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  cursor: pointer;
  gap: 0.6vw;
}
.listing-filter .filter-content-price .options-list {
  width: 100%;
}
.listing-filter .filter-content-location {
  display: grid;
  gap: 1.2vh;
}
.listing-filter .filter-content-location .title {
  font-weight: 600;
  line-height: 100%;
}
.listing-filter .filter-content-location .options {
  background-color: #eef1f3;
  border-radius: 0.9vw;
  padding: 1vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  cursor: pointer;
  gap: 0.6vw;
}
.listing-filter .filter-content-location .options-list {
  width: 100%;
}
.listing-overview {
  padding: 0 3.4vw 2.4vw 1.7vw;
  position: relative;
  grid-area: overview;
  display: grid;
  gap: 3.7vw;
}
.listing-overview-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  border-bottom: 0.15vw solid #595959;
  padding-bottom: 1.5vw;
}
.listing-overview-header .result {
  display: grid;
}
.listing-overview-header .result-title {
  font-size: 2.1vw;
  font-weight: 600;
}
.listing-overview-header .result-total {
  color: rgba(89, 89, 89, 0.6);
}
.listing-overview-header .layout {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.listing-overview-header .layout .material-symbols-rounded {
  padding: 0.65vw;
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  cursor: pointer;
}
.listing-overview-header .layout .material-symbols-rounded.active {
  background-color: #eef1f3;
  border-radius: 0.6vw;
}
.listing-overview-layout {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 0.9vw;
  position: relative;
}
.listing-overview-layout .item {
  width: 100%;
  height: 100%;
  border-radius: 1.2vw;
  background-color: #eef1f3;
  padding: 1.5vw;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 0.3vw;
}
.listing-overview-layout .item .opening {
  color: #34a0a4;
  line-height: 100%;
}
.listing-overview-layout .item .address {
  line-height: 125%;
}
.listing-overview-layout .item .name {
  font-size: 1.6vw;
  font-weight: 600;
  line-height: 100%;
  padding-top: 0;
}
.listing-overview-layout .item .desc {
  line-height: 125%;
  color: rgba(89, 89, 89, 0.6);
}
.listing-overview-layout .item .container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 0.7vw;
  padding-top: 3.4vw;
  margin-top: auto;
}
.listing-overview-layout .item .container .rating {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 0.3vw;
}
.listing-overview-layout .item .container .rating .number {
  font-size: 1.2vw;
  font-weight: 600;
}
.listing-overview-layout .item .container .review {
  line-height: 100%;
}
.listing-overview-layout .item .image {
  max-width: 25vw;
  width: 100%;
  height: 100%;
  padding: 1vw 0;
}
.listing-overview-layout .item .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1.2vw;
}
.listing-overview-layout .item .image {
  max-height: 40vh;
}
.listing-overview-layout-active {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.9vw;
  position: relative;
}
.listing-overview-layout-active .item {
  width: 100%;
  height: 100%;
  border-radius: 1.2vw;
  background-color: #eef1f3;
  padding: 1.5vw;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
  gap: 1.6vw;
}
.listing-overview-layout-active .item .opening {
  color: #34a0a4;
  line-height: 100%;
}
.listing-overview-layout-active .item .address {
  line-height: 125%;
}
.listing-overview-layout-active .item .name {
  font-size: 1.6vw;
  font-weight: 600;
  line-height: 100%;
  padding-top: 1.1vw;
}
.listing-overview-layout-active .item .desc {
  line-height: 125%;
  color: rgba(89, 89, 89, 0.6);
}
.listing-overview-layout-active .item .container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 0.7vw;
  padding-top: 3.4vw;
  margin-top: auto;
}
.listing-overview-layout-active .item .container .rating {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 0.3vw;
}
.listing-overview-layout-active .item .container .rating .number {
  font-size: 1.2vw;
  font-weight: 600;
}
.listing-overview-layout-active .item .container .review {
  line-height: 100%;
}
.listing-overview-layout-active .item .image {
  max-width: 25vw;
  width: 100%;
  height: 100%;
  padding: 0;
}
.listing-overview-layout-active .item .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1.2vw;
}
.listing-overview-layout-active .item .image {
  max-height: 40vh;
}
.listing-overview-layout-active .item .info {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 0.3vw;
}
.listing-overview-layout-active .item .info .container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 0.7vw;
  padding-top: 3.4vw;
  margin-top: auto;
}
.listing-overview-layout-active .item .info .container .rating {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 0.3vw;
}
.listing-overview-layout-active .item .info .container .rating .number {
  font-size: 1.2vw;
  font-weight: 600;
}
.listing-overview-layout-active .item .info .container .review {
  line-height: 100%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-y: auto;
  overflow-x: hidden;
  font-size: 1.2vw;
  font-family: "Lato", sans-serif;
  color: #595959;
}